
<%= link_to "Enter New Student", new_student_path, class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
  <tr>

    <th scope="col">Student</th>
    <th scope="col">Address</th>
    <th scope="col">Section</th>
    <th scope="col">books assigned</th>
    <th scope="col">Date Borrowed</th>
    <th scope="col">Days Remaining</th>
    <th scope="col">No. of day borrowed</th>

  </tr>
  </thead>
  <% @students.each do |student| %>
    <tbody>

    <tr>
      <td><%= student.name %></td>
      <td><%= student.address %></td>
      <td><%= student.section %></td>
      <%if student.book_id.nil?%>
        <td>Not Assigned</td>
        <td>Not Assigned</td>
        <td>Not Assigned</td>
        <td>Not Assigned</td>
      <%else %>
        <td><%= Book.find(student.book_id).book_name %></td>
        <td><%=Book.find(student.book_id).borrowed_date %></td>
        <td><%=9 - date_cal(student) %></td>
        <td><%=date_cal(student)+1 %></td>
      <%end %>

      <td></td>
  <%end%>
  </tr>
  </tbody>
</table>

