<%= link_to "Enter New Student", new_student_path, class: "btn btn-primary" %>



<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
  <tr>

    <th scope="col">Student</th>
    <th scope="col">Address</th>
    <th scope="col">Section</th>
    <th scope="col">Assigned Books</th>


  </tr>
  </thead>
  <% @students.each do |student| %>
    <tbody>

    <tr>
      <td><%= student.name %></td>
      <td><%= student.address %></td>
      <td><%= student.section %></td>
      <td></td>
  <%end%>
  </tr>
  </tbody>
</table>

