
<%= link_to "Enter New Book", new_book_path, class: "btn btn-primary" %>


<table class="table">
  <thead class="thead-dark">
  <tr>

    <th scope="col">Book</th>
    <th scope="col">Description</th>
    <th scope="col">Author</th>
    <th scope="col">Assign</th>
    <th scope="col">Assigned to</th>

  </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>

  <tr>
    <td><%= book.book_name %></td>
    <td><%= book.description.split.first   %><%= link_to "    details", book %></td>
    <td><%= book.author %></td>
    <td><%= link_to "assign to students", assignments_new_path(:id2 => book.id) %></td>
    <%if !book.assigned.nil? %>
      <td><%=book.assigned %></td>
    <%else %>
      <td>Not Assigned</td>
    <%end %>

    <%end %>
  </tr>
  </tbody>
</table>



